body {
    font-family: Lucida Console, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("weather.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #50a7cd;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0044b6;
}
